<%= form_for @gadget, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :make, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :make, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :model, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :model, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :available, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :available, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :checked_out, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :checked_out, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :checked_in, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :checked_in, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :location, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :orientation, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :orientation, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :os_version, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :os_version, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  gadgets_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
