<h1>Listing gadgets</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Available</th>
      <th>Checked out</th>
      <th>Checked in</th>
      <th>User</th>
      <th>Location</th>
      <th>Orientation</th>
      <th>Os version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gadgets.each do |gadget| %>
      <tr>
        <td><%= gadget.make %></td>
        <td><%= gadget.model %></td>
        <td><%= gadget.available %></td>
        <td><%= gadget.checked_out %></td>
        <td><%= gadget.checked_in %></td>
        <td><%= gadget.user %></td>
        <td><%= gadget.location %></td>
        <td><%= gadget.orientation %></td>
        <td><%= gadget.os_version %></td>
        <td><%= link_to 'Show', gadget %></td>
        <td><%= link_to 'Edit', edit_gadget_path(gadget) %></td>
        <td><%= link_to 'Destroy', gadget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gadget', new_gadget_path %>
